{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
   {% block title %}{% if title %}{{ title }}{% else %}#failwhale{% endif %}{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
   import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
<!--    <link rel="stylesheet" type="text/css"
  href="{{url_for('static', filename='sample-app.css')}}"> -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
{% endblock %}

{% block scripts %}
  {{super()}}
  <!-- Include Moment.Js -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <!-- Include Fontawesome -->
  <script src="https://use.fontawesome.com/acfd66e721.js"></script>

  <!-- Include tags plugin -->
  <script type="text/javascript" src="/static/js/bootstrap-tagsinput.js"></script>

  <!-- Include app.js -->
  <script type="text/javascript" src="/static/js/app.js"></script>
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
{#nav.frontend_top.render()#}
<div class="container">
<div class="login col-sm-2 col-sm-offset-10">
  {% if 'token' not in session %}
  <form action='/login' method='POST'>
    <button type="submit" class="btn btn-info btn-login btn-md" style="position:absolute; right:0">
      <i class="fa fa-github" aria-hidden="true"></i>
  Login with Github
    </button>
  </form>

  {% endif %}

  {% if 'token' in session %}
    <button type="button" class="btn btn-info dropdown-toggle" style="position:absolute; right:0" data-toggle="dropdown">
      <img src="{{g.user.profile_picture}}" style="height:25px">
      {{ g.user.username }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="login">
      <li><a href="/logout">Logout</a></li>
    </ul>

  {% endif %}
</div>
</div>
<style type="text/css">
  #login.dropdown-menu {
    width: 100%;
    position: absolute;
    top: 36px;
    text-align: right;
  }
</style>
{% endblock %}