{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Failure Instance Summary</h1>
    </div>
          <h2>Failure Signature: <a href="http://git.gluster.org/cgit/glusterfs.git/tree/{{ failure.signature }}" target="_blank"><code class="failure-signature-main">{{ failure.signature }}</code></a>
            {% if request.args.get('state') == "2" %}
              <div class="tag tag-danger" style="display:inline-block">
                <span class="glyphicon glyphicon-fire" style="top:3px"></span>
              </div>
            {% elif request.args.get('state') == "3" %}
              <div class="tag tag-danger" style="display:inline-block">
                <span class="glyphicon glyphicon-fire" style="top:3px"></span>
              </div>
            {% endif %}
          </h2>

    <div class="row">
      <div class="col-xs-6">
        {% include "snippets/date_range.html" %}
      </div>
      <div class="col-xs-6">
        {% include "snippets/branch_filter.html" %}
      </div>
    </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Job</th>
            <th>Node</th>
            <th>Review Information</th>
            <th>Branch</th>
            <th>Timestamp</th>
          </tr>
          {% for f in failure_instances %}
          <tr>
            <td>{{ f.job_name }}</td>
            <td>{{ f.node }}</td>
            <td>{% if f.review %}<a href="https://review.gluster.org/{{ f.review }}">{{ f.review }}/{{ f.patchset }}</a>{% endif %}</td>
            <td>{% if f.branch %}{{ f.branch }}{% endif %}</td>
            <td><a href="{{ f.url }}">{{ f.timestamp }}</a></td>
          <tr>
          {% endfor %}
        </table>
      </div>
{% endblock %}
