{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Gluster Test Failure Tracker</h1>
      <p>This tracks the failures from <a href="https://build.gluster.org">
      build.gluster.org</a>.</p>
    </div>
    <!--<h2>Weekly Overall Summary</h2>-->
    <h2>Overall Summary</h2>
    {% set range = [start_date, '-', end_date] %}
    <div class="row">
      <div class="col-xs-6">
        {% include "snippets/date_range.html" %}
      </div>
      <div class="col-xs-6">
        {% include "snippets/branch_filter.html" %}
      </div>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>Signature</th>
        <th>Failure Count</th>
        <th>Associated Bugs</th>
        {% if g.user %}
        <th></th>
        {% endif %}
      </tr>
      {% for f, count in failures.most_common(total) %}
      <tr>
        <td><a href="http://git.gluster.org/cgit/glusterfs.git/tree/{{ f.signature }}" target="_blank"><code>{{ f.signature }}</code></a></td>
        <td><a href="{{ url_for('instance_summary', start_date=start_date, end_date=end_date, fid=f.id) }}">{{ count }}</a></td>
        <!--<td>{{ f.bugs | length }}</td>-->
        <td>
        {% for bug in f.bugs %}
          <a href="https://bugzilla.redhat.com/show_bug.cgi?id={{bug.bug_id}}" target="_blank"><code>{{bug.bug_id}}</code></a>
        {% endfor %}
        </td>
        {% if g.user %}
          <td><button type="submit" class="btn btn-info" id="associate_bug" data-failure="{{ f.id }}" onclick="showModal({{f.id}}, {{f.get_bug_ids()|safe}})">Manage Assoicated Bugs</button></td>
        {% endif %}
        <td><a href="{{ url_for('instance_summary', start_date=start_date, end_date=end_date, fid=f.id, branch=request.args.get('branch', 'all')) }}">{{ count }}</a></td>
      </tr>

      {% endfor %}
    </table>
   </div>
  <!-- Modal -->
  <div class="modal fade" id="associate-bug-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Associate Bug</h4>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" placeholder="Bugzilla BugId" id="bugIds">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-info" onclick="submit()">Submit</button>
          <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <style>
    .bootstrap-tagsinput {
      width: 100%
    }
  </style>
{%- endblock %}
